<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="vinhcd_aws">
            <group id="sns" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>SNS</label>
                <field id="event" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Event</label>
                    <source_model>Vinhcd\AwsSns\Model\Config\Source\Event</source_model>
                </field>
                <field id="order_place_arn" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Topic ARN</label>
                    <comment>It will push to this topic after placing Order</comment>
                    <depends>
                        <field id="event">order_place</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
